.about
    $content-width-lg = 640px

    &--row
        padding 50px 0

        @media screen and ( min-width $screen-md )
            padding 70px 0

        &--list
            padding-left 20px

            li
                font-weight bold
                list-style-position inside
                margin-bottom 6px
                vertical-align text-top

            @media screen and ( min-width $screen-md )
                columns 2
                flex 50%

            @media screen and ( min-width $screen-lg )
                padding 0

                li
                    margin-bottom 10px

        &--button
            text-align center

        &--content
            margin-bottom 30px

        &--text
            line-height 28px

        &--title
            font-size 26px
            margin-top 0
            text-transform uppercase
            width 100%

            @media screen and ( min-width $screen-md )
                font-size 32px

        &--image
            text-align center

        &__light
            background $white-two

        &__dark
            background $dark-grey
            color $white

        &__dusky
            background $dusky-blue
            color $white

        &__invert
            & ^[0..-2]--content
                @media screen and ( min-width $screen-md )
                    order 2

            & ^[0..-2]--image
                @media screen and ( min-width $screen-md )
                    margin-left 0
                    margin-right 40px

        // Templates

        &__default
            & ^[0..-2]--container
                @media screen and ( min-width $screen-md )
                    align-items center
                    display flex
                    justify-content space-between

            & ^[0..-2]--content
                @media screen and ( min-width $screen-md )
                    flex 0 0 340px

                @media screen and ( min-width $screen-lg )
                    flex-basis 470px

            & ^[0..-2]--image
                @media screen and ( min-width $screen-md )
                    margin-left 40px

                @media screen and ( min-width $screen-lg )
                    flex 0 0 $content-width-lg

                img
                    @media screen and ( min-width $screen-sm )
                        max-width 400px

                    @media screen and ( min-width $screen-md )
                        max-width 100%


        &__customers
            position relative

            & ^[0..-2]--container
                display flex
                flex-wrap wrap

            & ^[0..-2]--content
                flex 100%
                order 1

                @media screen and ( min-width $screen-md )
                    display flex
                    flex-wrap wrap

                @media screen and ( min-width $screen-lg )
                    display block
                    flex-basis 470px
                    order 2

            & ^[0..-2]--image
                flex 100%
                order 2

                @media screen and ( min-width $screen-lg )
                    flex 0 0 $content-width-lg
                    order 1

            & ^[0..-2]--text
                @media screen and ( min-width $screen-md )
                    flex 50%

            & ^[0..-2]--button
                flex 100%
                margin-top 40px
                order 3

                @media screen and ( min-width $screen-lg )
                    margin -30px 0 0 420px

        &__mvp
            margin-bottom 150px
            padding-bottom 50px

            & ^[0..-2]--image
                position relative
                transform translateY( 50% )

                @media screen and ( min-width $screen-md )
                    transform translateY( 30% )

            @media screen and ( min-width $screen-lg )
                & ^[0..-2]--container
                    position relative

                & ^[0..-2]--button,
                & ^[0..-2]--content
                    width 500px

                & ^[0..-2]--image
                    left 550px
                    position absolute
                    top 50px
                    transform none

        // Image align

        &__image_top
            padding-bottom 0
            position relative

            @media screen and ( min-width $screen-lg )
                min-height 560px

            & ^[0..-2]--image
                @media screen and ( min-width $screen-md )
                    left 0
                    margin 0
                    position absolute
                    top -10%
                    width 40%

                @media screen and ( min-width $screen-lg )
                    top -20%

            & ^[0..-2]--content
                order 2
                width 100%

                @media screen and ( min-width $screen-md )
                    flex 50%
                    margin-left 0
                    margin-right 50%

            &^[0..-2]__invert
                & ^[0..-3]--content
                    @media screen and ( min-width $screen-md )
                        margin-left 50%
                        margin-right 0

        &__image_down
            padding-bottom 0