.about
    $content-width-lg = 640px

    &--row
        &--container
            align-items center
            display flex
            justify-content space-between
            padding 50px 25px
            position relative

            @media screen and ( min-width $screen-md )
                padding 70px 35px

        &--content
            @media screen and ( min-width $screen-md )
                flex 0 0 45%

        &--list
            padding-left 20px

            li
                font-weight bold
                list-style-position inside
                margin-bottom 6px
                vertical-align text-top

            @media screen and ( min-width $screen-md )
                columns 2
                flex 50%

            @media screen and ( min-width $screen-lg )
                padding 0

                li
                    margin-bottom 10px

        &--button
            margin-bottom 20px
            text-align center

        &--text
            line-height 28px

        &--title
            font-size 26px
            font-weight normal
            margin-top 0
            text-transform uppercase
            width 100%

            @media screen and ( min-width $screen-md )
                font-size 32px

        &--image
            @media screen and ( min-width $screen-md )
                flex 0 0 45%

            //     @media screen and ( min-width $screen-lg )
            //         flex 0 0 $content-width-lg

            img
                display block
                margin 0 auto

            //         @media screen and ( min-width $screen-sm )
            //             max-width 400px

            //         @media screen and ( min-width $screen-md )
            //             max-width 100%

        &__light
            background $white-two

        &__dark
            background $dark-grey
            color $white

        &__dusky
            background $dusky-blue
            color $white

        &__invert
            & ^[0..-2]--content
                @media screen and ( min-width $screen-md )
                    order 2

            & ^[0..-2]--image
                @media screen and ( min-width $screen-lg )
                    margin-left 0
                    margin-right 40px

        // Templates
        &__customers
            position relative

            & ^[0..-2]--container
                display flex
                flex-wrap wrap

                @media screen and ( min-width $screen-lg )
                    clearfix()
                    display block
                    position relative

            & ^[0..-2]--content
                flex 100%
                order 1

                @media screen and ( min-width $screen-md )
                    display flex
                    flex-wrap wrap

                @media screen and ( min-width $screen-lg )
                    float right
                    width 410px

            & ^[0..-2]--image
                flex 100%
                order 2

                @media screen and ( min-width $screen-lg )
                    left 0
                    padding 50px
                    position absolute
                    top 0
                    width auto

            & ^[0..-2]--text
                @media screen and ( min-width $screen-md )
                    flex 50%
                    padding-right 50px

                @media screen and ( min-width $screen-lg )
                    flex auto
                    padding-right 0

            & ^[0..-2]--button
                flex 100%
                margin-top 40px
                order 3

                @media screen and ( min-width $screen-lg )
                    clear right
                    float right
                    margin-top 0
                    text-align left
                    width 410px

        &__mvp
            & ^[0..-2]--container
                @media screen and ( min-width $screen-md )
                    clearfix()
                    display block

            & ^[0..-2]--content
                @media screen and ( min-width $screen-md )
                    width 100%

                @media screen and ( min-width $screen-lg )
                    float left
                    width 45%

            & ^[0..-2]--button
                @media screen and ( min-width $screen-md )
                    clear left
                    float left
                    margin-top 40px

            & ^[0..-2]--image
                @media screen and ( min-width $screen-md )
                    float right
                    width calc( 100% - 300px )

                @media screen and ( min-width $screen-lg )
                    width 45%

        // Image align
        &__image-top
            & ^[0..-2]--container
                @media screen and ( min-width $screen-md )
                    padding-top 0

            & ^[0..-2]--image
                @media screen and ( min-width $screen-md )
                    align-self flex-end
                    margin-top -50px

                @media screen and ( min-width $screen-lg )
                    margin-top -100px

            &__before
                & ^[0..-3]--content
                    @media screen and ( min-width $screen-md )
                        padding-bottom 50px

                    @media screen and ( min-width $screen-lg )
                        padding-bottom 150px

        &__image-bottom
            & ^[0..-2]--container
                @media screen and ( min-width $screen-md )
                    padding-bottom 0

            & ^[0..-2]--image
                @media screen and ( min-width $screen-md )
                    align-self flex-end
                    margin-bottom -50px

                @media screen and ( min-width $screen-lg )
                    margin-bottom -100px

            & + ^[0..-2]
                & ^[0..-3]--content
                    @media screen and ( min-width $screen-md )
                        padding-top 50px

                    @media screen and ( min-width $screen-lg )
                        padding-top 150px

        &__image-stick-top
            & ^[0..-2]--container
                @media screen and ( min-width $screen-md )
                    padding-top 0

            & ^[0..-2]--content
                @media screen and ( min-width $screen-md )
                    padding-top 100px

            & ^[0..-2]--image
                @media screen and ( min-width $screen-md )
                    align-self flex-start

        &__image-stick-bottom
            & ^[0..-2]--container
                @media screen and ( min-width $screen-md )
                    padding-bottom 0

            & ^[0..-2]--content
                @media screen and ( min-width $screen-md )
                    padding-bottom 100px

            & ^[0..-2]--image
                @media screen and ( min-width $screen-md )
                    align-self flex-end

    .page
        padding-bottom 90px

        @media screen and ( min-width $screen-md )
            padding-bottom 150px
