.contact
    color $white
    position relative

    a
        color $white

    .site
        position relative
        z-index 1

    .site-content
        background-color $purple

    &--container
        max-width 700px
        padding-bottom 50px

    h2&--title
        color $red
        font-size 46px
        text-transform uppercase

    &--description
        line-height 1.4em
        max-width 450px

