.contact
    &--wrapper
        color $black
        padding-bottom 70px
        padding-top 50px
        text-align center

        @media screen and ( min-width $screen-md )
            padding-bottom 40px
            padding-top 50px

        @media screen and ( min-width $screen-lg )
            padding-bottom 30px
            padding-top 30px

    &--subtitle
        color $black
        font-weight bold
        margin-bottom 10px
        text-transform uppercase

    &--description
        margin-bottom 60px

    .form
        input,
        textarea
            border-color $black

    &--form
        @media screen and ( min-width $screen-md )
            display flex
            flex-wrap wrap

            label
                margin-bottom 8px
                width 100%

            label:nth-child(1)
                width calc( 50% - 10px )
                margin-right 10px

            label:nth-child(2)
                width 50%

            .form--submit-wrapper
                width 100%
                text-align center
