.events
    .site-content
        background $white-two

    &--wrapper
        padding 60px 0 80px
        text-align center

    &--list
        display flex
        flex-wrap wrap
        justify-content center
        margin-bottom 50px
        text-align left

        @media screen and ( min-width $screen-md )
            justify-content flex-start

        &:after
            content ''
            flex auto

        &--wrapper
            display inline-block
            max-width 400px
            width 100%

            @media screen and ( min-width $screen-md )
                margin-right -10px
                max-width 800px

            @media screen and ( min-width $screen-lg )
                display block
                max-width 100%

    &--about
        color $black
        font-weight bold
        margin-top 50px
        text-align center

        &-text
            margin-bottom 40px
            text-transform uppercase