.events
    &--wrapper
        background $white-two
        padding 60px 0 80px

    &--list
        display flex
        flex-wrap wrap
        margin 0 -5px

    &--about
        color $black
        font-weight bold
        margin-top 50px
        text-align center

        &-text
            margin-bottom 40px
            text-transform uppercase