.front-page
    &--purpose
        $column-gutter = 25px
        padding-bottom 40px
        padding-top 40px

        &--wrapper
            @media screen and ( min-width $screen-md )
                align-items strech
                display flex
                margin-left '-%s' %  ( $column-gutter / 2 )
                width 'calc( 100% + %s )' % ( $column-gutter )

        &--item
            border 1px solid $gray-light
            display block
            height 100%
            padding 43px
            text-align center
            text-decoration none

            span
                color $gray
                display block
                font-size 17px
                line-height 1.76em
                margin 1em 0

            strong
                color $red

            &:first-child
                margin-bottom 20px

                @media screen and ( min-width $screen-md )
                    margin-bottom 0

            &--wrapper
                @media screen and ( min-width $screen-md )
                    padding 0 ( $column-gutter / 2 )
                    width 50%

            &:hover
                box-shadow 0 0 10px 2px $gray-light

                & ^[0..1]--icon
                    background $red

                    &:before
                        color $white

    &--quote
        background $quote-bg
        color $white
        font-size 23px
        font-weight 700
        letter-spacing 2.3px
        line-height 1.52
        text-align center
        width 100vw

        &--container
            $icon-size = 26px
            $x-space = 20px
            $y-space = 100px
            display inline-block
            max-width 695px
            padding 110px 55px
            position relative

            &:before
                icon-font()
                color $quote-quotes
                content i-left-quote
                font-size $icon-size
                left $x-space
                position absolute
                top $y-space

            &:after
                icon-font()
                bottom $y-space
                color $quote-quotes
                content i-right-quote
                font-size $icon-size
                position absolute
                right $x-space

    &--blog
        margin-top 117px
        padding-bottom 88px

        &--header
        &--footer
            text-align center

        &--title
            font-size 50px
            letter-spacing .6px
            text-transform uppercase

        p&--description
            font-size 15px
            margin-bottom 62px
