.front-page
    // Purpose
    &--purpose
        display flex
        flex-direction column
        padding-top 60px
        padding-bottom 70px
        position relative

        &-image
            position absolute
            top 60px
            right 0
            width 180px

            img
                displat inline-block

        &-content
            width 100%

        &-title
            color $dark-grey
            font-size 32px
            font-weight 100
            text-transform uppercase
            margin-bottom 75px
            position relative
            z-index 5

            b
                display block

        @media screen and ( min-width $screen-md )
            flex-direction row

            &-content
                width 50%

            &-image
                top 50%
                transform translateY( -50% )
                right 20px
                width 50%

                img
                    max-width 90%

            &-title b
                display inline

        @media screen and ( min-width $screen-lg )
            &-image
                transform none
                position static
                padding-right 40px

                img
                    max-width 70%

    &--quote
        background-color $quote-bg
        background-position center
        background-size cover
        background-repeat repeat
        color $white
        padding 60px 0 30px

        @media screen and ( min-width $screen-md )
            padding 120px 0 75px

        &-author
            font-size 14px
            font-weight bold
            margin-top 45px

        &-content
            font-size 20px
            margin 0 auto

            @media screen and ( min-width $screen-md )
                max-width 500px

    &--blog
        padding 60px 0
        background $white-two

        &-description
            color $black
            font-weight bold
            text-align center
            text-transform uppercase

        &-title
            color $black
            font-weight 100
            text-align center
            text-transform uppercase

            h2
                border-bottom 1px solid $dusky-blue
                display inline-block
                font-size 32px
                margin 0 0 20px
                padding-bottom 20px

        &-list
            @media screen and ( min-width $screen-md )
                margin-bottom 60px

            .listing-post:last-child
                display none

                @media screen and ( min-width $screen-lg )
                    display block

        &-actions
            margin-top 40px
            text-align center

    &--testimonial
        padding-bottom 60px
        padding-top 60px
        position relative

        .swiper-pagination
            color $brownish-grey
            text-align center

        .swiper-pagination-fraction
            bottom 30px

        .swiper-button-next,
        .swiper-button-prev
            background url( 'data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAWCAYAAAD0OH0aAAAABHNCSVQICAgIfAhkiAAAALNJREFUOI3V0rENwjAQheF3uKGMZIuMcEd2QwpiBQq6VGSTFClgCgpkMUJuhUBjpCgotqHjurP+T7rCYOYHM5+ROcY5tyGig7W2VNUuCVT1aq0tiGiXgwwAqGo/QYWq9lEwQ3UMmemSg8z8IaBy6bwPEFD3Rs659TAMlyiYof0ULYIlRDEQhkTkBqAax3G7StXh21QATt77eypuReTJzE3yjm/j5o/jNic+ZscAICI+O/5lXij9b1pEaWA+AAAAAElFTkSuQmCC' )
            height 22px
            width 12px

        .swiper-button-prev
            transform rotate( -180deg )