.front-page
    &--purpose
        $column-gutter = 25px
        padding-bottom 40px
        padding-top 40px

        &--wrapper
            @media screen and ( min-width $screen-md )
                align-items strech
                display flex
                margin-left '-%s' %  ( $column-gutter / 2 )
                width 'calc( 100% + %s )' % ( $column-gutter )

        &--item
            border 1px solid $gray-light
            color $red
            height 100%
            padding 30px
            text-align center

            &:first-child
                margin-bottom 20px

                @media screen and ( min-width $screen-md )
                    margin-bottom 0

            &--wrapper
                @media screen and ( min-width $screen-md )
                    padding 0 ( $column-gutter / 2 )
                    width 50%

        &--icon
            $icon-size = 68px
            border 1px solid $red
            border-radius 50%
            color $red
            display inline-block
            font-size 36px
            height $icon-size
            line-height $icon-size
            width $icon-size

    &--quote
        background $quote-bg
        color $white
        font-size 24px
        font-weight 700
        line-height 1.5em
        text-align center
        width 100vw

        &--container
            $icon-size = 26px
            $x-space = 20px
            $y-space = 60px
            padding 70px 55px
            position relative

            &:before
                icon-font()
                content i-left-quote
                font-size $icon-size
                left $x-space
                position absolute
                top $y-space

            &:after
                icon-font()
                bottom $y-space
                content i-left-quote
                font-size $icon-size
                position absolute
                right $x-space

    &--blog
        margin-bottom 50px
        margin-top 50px

        &--header
        &--footer
            text-align center

        &--title
            font-size 36px
            text-transform uppercase
