.banner-contact
    background-color #2c598a
    background-position center right
    background-repeat no-repeat
    background-size cover
    padding 40px 30px
    margin 62px ( - $container-padding ) 0 (- $container-padding)
    text-transform uppercase
    
    @media screen and ( min-width $screen-md )
        margin 62px 0 0

    &--text
        color $white
        font-size 27px
        line-height 1.5
        margin-bottom 25px
        text-align left
        
        h2,
        p
            margin 0

    .button
        padding 0 36px
