.banner-contact
    background-color #000
    background-position center center
    background-repeat no-repeat
    background-size cover
    margin-left -20px
    margin-top 40px
    padding 40px 30px
    text-transform uppercase
    width calc( 100% + 40px )

    @media screen and ( min-width $screen-sm )
        padding 65px 50px

    @media screen and ( min-width $screen-lg )
        margin-left 0
        padding 60px

    &--text
        color $white
        font-size 27px !important
        letter-spacing 0.5px
        line-height 1.5
        margin-bottom 20px
        text-align left

        @media screen and ( min-width $screen-sm )
            font-size 45px !important
            margin-bottom 35px

        @media screen and ( min-width $screen-md )
            font-size 52px !important
            margin-bottom 65px

        @media screen and ( min-width $screen-lg )
            font-size 27px !important
            margin-bottom 40px

    .button
        padding 0 36px !important

        @media screen and ( min-width $screen-sm )
            padding 0 72px !important
