.banner-contact
    background-color #2c598a
    background-position center center
    background-repeat no-repeat
    background-size cover
    padding 40px 30px
    text-transform uppercase
    margin-top 60px

    &--text
        color $white
        font-size 27px
        line-height 1.5
        margin-bottom 25px
        text-align left
        
        p,
        h2
            margin 0

    .button
        padding 0 36px
