.blog
    main
        $column-gutter = 50px

        section
            margin-left - ( $column-gutter / 2 )
            width 'calc( 100% + %s )' % ( $column-gutter )

            article
                padding 0 ( $column-gutter / 2 )
                width 33.33%
