.bordered-icon
    $icon-size = 105px
    border 1px solid $red
    border-radius 50%
    color $red
    display inline-block
    font-size 54px
    height $icon-size
    line-height $icon-size
    text-align center
    width $icon-size

    &:hover
        background-color $red
        color $white

    &__white
        border-color $white
        color $white

    &__big
        $icon-size = 94px
        font-size 47px
        height $icon-size
        line-height $icon-size
        width $icon-size
