a.button
input[type="submit"]
    $height = 56px
    background $red
    border 2px solid $red
    border-radius $height
    color $white
    display inline-block
    font-weight bold
    line-height $height
    padding 0 50px
    text-decoration none
    text-transform uppercase

    &:hover
        border-color $white
        text-decoration none

a.button
    &__bordered
        background transparent
        border 1px solid $white

        &:hover
            color $red
            border-color $red

    &__tiffany
        background $tiffany
        border-color $tiffany

        &:hover
            border-color $red
            color $red

