a.button,
input[type='submit'].button
    $height = 54px
    background $red
    border 2px solid $red
    border-radius $height
    color $white
    display inline-block
    font-weight bold
    line-height $height
    padding 0 72px
    text-decoration none
    text-transform uppercase

    &:hover
        background $white
        color $red
        text-decoration none

    &__bordered
        background transparent
        border 1px solid $white

        &:hover
            background $white
            color $red

    &__tiffany
        background $tiffany
        border none

        &:hover
            background-color $white
            border-color $tiffany
            color $tiffany

    &__white
        background $white
        border none
        color $red

        &:hover
            background $red
            color $white
