.button
    $height = 56px
    background $red
    border-color $red
    border-radius $height
    color $white
    display inline-block
    font-weight bold
    line-height $height
    padding 0 50px
    text-decoration none
    text-transform uppercase

    &__bordered
        background transparent
        border 1px solid $white

        &:hover
            color $red
            border-color $red

    &__tiffany
        background $tiffany
        border-color $tiffany

        &:hover
            color $red
