.category-nav
    ul
        list-style none
        margin 35px 0
        padding 0
        text-align center

        @media screen and ( min-width $screen-md )
            display flex
            flex-wrap wrap
            justify-content center

    .cat-item
        margin 20px 45px

        a
            color $gray-dark
            font-weight bold
            text-decoration none
            text-transform uppercase

            ^[0..-2].current-cat ^[-1..-1] // @stylint ignore
            &:hover
                color $red
