.comment
    align-items center
    display flex
    flex-wrap wrap

    &.depth-1
        border-bottom 1px solid $gray-light-300
        padding 30px 0

        &:last-child
            border none

    &--meta
        display flex
        flex-direction column
        font-size 12px

        &-author
            color $black-two
            margin 0

            a
                color $black-two
                text-decoration none

        &-date
            color $dusky-blue

        @media screen and ( min-width $screen-md )
            align-items center
            flex-direction row
            justify-content center
            &-author
                font-size 18px
                margin-right 35px

    &--avatar
        height 55px
        margin-right 15px
        width 55px

        img
            border-radius 50%
            max-width 100%
            width 100%

    &--text
        color $brownish-grey
        max-width 'calc( 100vw - %s )' % ( $container-padding * 2 )

        @media screen and ( min-width $screen-md )
            font-size 15px
            margin-right 30px
            padding-left 70px
            width calc( 100% - 120px )

    &--content
        @media screen and ( min-width $screen-md )
            align-items center
            display flex
            width 100%

    &--action
        .comment-reply-link
            border 1px solid $dusky-blue
            color $dusky-blue
            display inline-block
            font-size 12px
            font-weight bold
            padding 4px 6px
            text-transform uppercase
            text-decoration none

            &:hover
                background $dusky-blue
                color $white

        @media screen and ( min-width $screen-md )
            text-align center
            width 100px

    .children
        padding-left 70px
        .comment
            margin-top 30px

.comment-reply-title
    text-transform uppercase

.comment-list
    list-style none
    margin 0
    padding 0

    .children
        list-style none