.contact-info
    color $brownish-grey
    font-size 12px
    display flex
    justify-content center
    
    a
        color $brownish-grey
    
    p
        position relative

        &:first-of-type
            margin-right 10px
            padding-right 15px

            &::after
                content "|"
                position absolute
                right 0
                top 0

    @media screen and ( min-width $screen-md )
        font-size 15px