.contact-info
    font-size 24px
    margin-top 24px

    @media screen and ( min-width $footer-breakpoint )
        position absolute
        font-size 16px
        margin-top 0
        right $container-padding
        text-align right
        top 0

    p
        margin 5px 0
