.single
    .hentry
        .entry-footer
            border-bottom 1px solid $gray
            border-top 1px solid $gray
            line-height 36px
            padding 20px 0

            &:after
                clear both
                content ''
                display block
                height 0
                width 0

            @media screen and ( min-width $screen-md )
                display flex
                justify-content space-between
                padding 40px 0

                &:after
                    content none

            strong
                display block
                margin-right 25px
                text-transform uppercase

                @media screen and ( min-width $screen-sm )
                    display inline-block

            a
                color $gray
                display inline-block
                margin-right 33px
                text-decoration none

                &:hover
                    color $red

            &--tags
                margin-bottom 20px

                @media screen and ( min-width $screen-md )
                    margin-bottom 0

            &--share
                @media screen and ( min-width $screen-md )
                    flex 0 0 209px

                @media screen and ( min-width $screen-lg )
                    flex 0 0 auto

                a
                    font-size 36px
                    vertical-align middle

                    &:last-child
                        @media screen and ( min-width $screen-lg )
                            margin-right 0

                strong
                    @media screen and ( min-width $screen-md )
                        display block

                    @media screen and ( min-width $screen-lg )
                        display inline-block
