.event
    $box-padding = 25px
    height 350px
    margin-bottom 10px
    width 100%

    @media screen and ( min-width $screen-md )
        flex 1 1 48%
        margin 0 10px 10px 0
        max-width: calc( 50% - 10px );

    @media screen and ( min-width $screen-lg )
        flex 1 1 32%
        max-width: calc( 33.33% - 10px );

    &--wrapper
        height 100%

    &--container
        background $white
        color $black
        font-weight bold
        height 100%
        padding $box-padding
        position relative
        text-transform uppercase

    &--date
        left $box-padding
        max-width 45%
        position absolute
        top $box-padding

    &--image
        height 100px
        max-width 50%
        position absolute
        right $box-padding
        top $box-padding

        img
            max-height 100%
            max-width 100%

    &--date
        font-size 20px

    &--content
        left $box-padding
        position absolute
        top 120px

    &--title
        font-size 16px
        letter-spacing 1px
        margin 0

    &--role
        color $dusky-blue
        font-size 12px

    &--footer
        bottom $box-padding
        font-weight 100
        left $box-padding
        position absolute
        text-transform none

    &__active
        & ^[0]--wrapper
            background $dusky-blue
            color $white

        & ^[0]--role,
        & ^[0]--footer
            color $black

    &__old
        & ^[0]--date
        & ^[0]--title,
        & ^[0]--footer
            color $gray-light-300

        & ^[0]--role
            color $tiffany