.follow-us
    &--title
        font-size 24px
        font-weight 400
        margin 0 0 10px
        text-transform lowercase

        @media screen and ( min-width $footer-breakpoint )
            font-size 16px

    &--menu
        list-style none
        reset-box-model()

        li
            display inline-block
            font-size 36px
            margin 0 10px

            @media screen and ( min-width $footer-breakpoint )
                font-size 24px
