.form
    $input-height = 50px
    label
        display block
        margin-bottom 5px

    input[type=text]
    input[type=url]
    input[type=tel]
    input[type=email]
    input[type=search]
    input[type=number]
    input[type=range]
    select
    textarea
        background-color transparent
        border none
        border 1px solid $white
        color $white
        display block
        height $input-height
        padding 0 10px
        width 100%

        &:focus
            outline none

        +placeholder()
            color $gray-light
            font-size 12px

    textarea
        height 150px
        min-height $input-height
        padding-top 10px
        resize vertical

    &--submit-wrapper
        margin-top 50px

    &--half
        @media screen and ( min-width $screen-md )
            $gutter = 30px
            float left
            padding-left $gutter
            width 'calc( 50% + %s )' % ( $gutter / 2 )

            &:first-child
                margin-left '-%s' %  $gutter
