.form
    $input-height = 37px
    label
        display block
        margin-bottom 25px

    input[type=text]
    input[type=url]
    input[type=tel]
    input[type=email]
    input[type=search]
    input[type=number]
    input[type=range]
    select
    textarea
        background-color transparent
        border none
        border-bottom 1px solid $input-border-color
        box-sizing border-box
        color $white
        display block
        height $input-height
        padding 0
        width 100%

        &:focus
            outline none

        +placeholder()
            color $gray-light

    textarea
        height 150px
        min-height $input-height
        padding-top 3px
        resize vertical

    &--submit-wrapper
        text-align center

    &--half
        @media screen and ( min-width $screen-md )
            $gutter = 30px
            float left
            padding-left $gutter
            width 'calc( 50% + %s )' % ( $gutter / 2 )

            &:first-child
                margin-left '-%s' %  $gutter
