// Hero Content
.hero
    &--wrapper
        align-items center
        display flex
        height 100%
        position fixed
        text-align center
        width 100%
        z-index 90

    &--container
        color $white

    &--image
        height 100%
        left 0
        position absolute
        top 0
        width 100%

    &--title
        color $white
        font-size 32px
        font-weight 100
        margin 0

        @media screen and ( min-width $screen-md )
            font-size 35px

    &--description
        font-size 12px
        margin 25px auto
        text-transform uppercase
        width 70%

        @media screen and ( min-width $screen-md )
            width 50%

    &--button
        margin 0

    ~/__home
        & ^[0]--title
            @media screen and ( min-width $screen-md )
                font-size 58px
                padding 0 130px

            strong
                display block

        & ^[0]--description
            margin 25px auto
            line-height 1.75
            text-transform uppercase

            @media screen and ( min-width $screen-md )
                font-size 15px

    ~/__page
        text-transform uppercase

        & ^[0]--container
            width 440px

        & ^[0]--title
            @media screen and ( min-width $screen-sm )
                font-size 64px

        & ^[0]--subtitle
            font-size 44px
            font-weight 400
            line-height 1.1em
            margin-bottom 40px

            @media screen and ( min-width $screen-sm )
                font-size 70px
                margin 0 0 33px

    ~/__events
        & ^[0]--title
            font-weight bold

    ~/__about
        text-transform uppercase
        width 100%

        .typed-cursor
            animation flash 2s infinite
            color $white
            display none
            font-size 52px

            @media screen and ( min-width $screen-sm )
                display inline

        & ^[0]--container
            font-size 52px
            text-align center

            @media screen and ( min-width $screen-sm )
                font-size 50px
                padding 0 160px
                max-width none
                width 100%

        & ^[0]--title
            color $white
            display inline
            font-size 50px
            font-weight 400

            strong
                font-weight 700
                white-space nowrap

.home
    .site-header
        opacity .4