.listing-post
    position relative

    &:hover
        .listing-post__footer
            height 35px
            visibility visible
        .listing-post__overlay
            height 100%

    &__container
        min-height 280px
        position relative
        
        @media screen and ( min-width $screen-lg )
            min-height 310px
        
    &__bg
        background-position center
        background-repeat no-repeat
        background-size cover
        height 100%
        position absolute
        width 100%
        
    &__overlay
        background rgba( $black, .6 )
        bottom 0
        display flex
        flex-direction column
        height auto
        justify-content center
        padding 20px 15px
        position absolute
        transition $transition-default
        width 100%
        
    &__categories
        list-style none
        margin 0 0 10px
        padding 0

        li
            display inline-block

        a
            background $tiffany
            color $white
            display block
            font-size 12px
            font-weight bold
            padding 5px 20px
            text-decoration none
            text-transform uppercase
                

            &:hover
                background $red
                text-decoration none

    &__serie
        color $tiffany
        display block
        font-size 12px
        font-weight bold
        height 17px
        margin-bottom 8px
        text-decoration none
        text-transform uppercase

    h2&__title
        font-size 14px
        height 40px
        margin 0
        overflow hidden
        text-transform uppercase

        a
            color $white
            display block
            text-decoration none              

            &:hover
                color rgba( $white, .7 )
                text-decoration none
        
        @media screen and ( min-width $screen-md )
            font-size 16px
            height 45px

    &__footer
        color $tiffany
        height 0
        margin-top 2rem
        transition $transition-default
        visibility hidden

        &__right
            float right
            font-size 12px
            letter-spacing 1.2px

        i
            font-size 20px
            margin-left 3px

        .has-touch &
            height auto
            visibility visible

    &--date
        display inline-block
        letter-spacing 1.6px

    &--reading
    &--comments
        align-items center
        display flex
        float left
        height 23px
        margin-left 11px

    a&--comments
        color $tiffany
        text-decoration none

        &:hover
            color $red
            text-decoration none
            

