.mouse
    bottom 30px
    display block
    height 57px
    left 50%
    position absolute
    transform translateX( -50% )
    width 37px

    &:before
        border 2px solid $white
        border-radius 15px
        height 100%
        width 100%

    &:after
        animation trackBallSlide 5s linear infinite
        background-color $white
        border-radius 1px
        height 5px
        width 2px

    &:before
    &:after
        bottom 0
        content ''
        left 0
        margin auto
        position absolute
        right 0
        top 0

    &:hover
        &:before
            border-color $red

        &:after
            background-color $red

@keyframes trackBallSlide
    $pos-trackball = 10px
    $shrink-trackball = .4px

    0%
        opacity 1
        transform scale( 1 ) translateY( - $pos-trackball )

    6%
        opacity 1
        transform scale( .9 ) translateY( $pos-trackball / 4 )

    14%
        opacity 0
        transform scale( $shrink-trackball ) translateY( $pos-trackball * 2 )

    15%, 19%
        opacity 0
        transform scale( $shrink-trackball ) translateY( - $pos-trackball )

    28%, 29.99%
        opacity 1
        transform scale( 1 ) translateY( - $pos-trackball )

    30%
        opacity 1
        transform scale( 1 ) translateY( - $pos-trackball )

    36%
        opacity 1
        transform scale( .9 ) translateY( $pos-trackball /4)

    44%
        opacity 0
        transform scale( $shrink-trackball ) translateY( $pos-trackball *2)

    45%, 49%
        opacity 0
        transform scale( $shrink-trackball ) translateY( - $pos-trackball )

    58%, 59.99%
        opacity 1
        transform scale( 1 ) translateY( - $pos-trackball )

    60%
        opacity 1
        transform scale( 1 ) translateY( - $pos-trackball )

    66%
        opacity 1
        transform scale( .9 ) translateY( $pos-trackball / 4 )

    74%
        opacity 0
        transform scale( $shrink-trackball ) translateY( $pos-trackball * 2 )

    75%, 79%
        opacity 0
        transform scale( $shrink-trackball ) translateY( - $pos-trackball )

    88%, 100%
        opacity 1
        transform scale( 1 ) translateY( - $pos-trackball )
