.page-header
    margin-bottom 40px
    padding-bottom 20px
    position relative
    text-align center

    &::after
        background $dusky-blue
        bottom 0
        content ''
        height 1px
        left 50%
        position absolute
        transform translateX( -50% )
        width 135px

    &--title
        color $black
        font-size 32px
        font-weight 100
        margin 0
        text-transform uppercase

        &__small
            font-size 12px
            font-weight bold