// Integration with Polylang plugin

// Menu
.site-header
    .main-navigation
        ul
            > .menu-item
                &.lang-item
                    padding-right 0

                &.current-lang
                    a
                        color $red
