.post-list
    $column-gutter = 50px
    margin 0 auto

    @media screen and ( min-width $screen-md )
        margin 0 auto

    &--wrapper
        @media screen and ( min-width $screen-md )
            margin-left '-%s' %  ( $column-gutter / 2 )
            width 'calc( 100% + %s )' % ( $column-gutter )

    article
        margin-bottom 70px
        max-width 414px

        @media screen and ( min-width $screen-md )
            padding 0 ( $column-gutter / 2 )
            width 50%

        @media screen and ( min-width $screen-lg )
            width 33.33%
