.post
    &--share
        @media screen and ( min-width $screen-lg )
            padding-bottom 30px
            padding-right 40px
            padding-top 1rem
            width 108px

        &-sticky
            align-items center
            display flex
            flex-direction row
            justify-content space-between
            position sticky
            top 65px

            @media screen and ( min-width $screen-lg )
                flex-direction column
                justify-content inherit

        &-item
            color $gray
            font-size 24px
            margin-left 25px
            text-decoration none

            @media screen and ( min-width $screen-lg )
                margin 0 auto 50px

    &--social
        display flex

        @media screen and ( min-width $screen-lg )
            flex-direction column

    &--comments
        align-items center
        color $gray
        display flex
        text-align center

        @media screen and ( min-width $screen-lg )
            flex-direction column
            margin-bottom 30px

        &-count
            @media screen and ( min-width $screen-md )
                font-size 20px

            @media screen and ( min-width $screen-lg )
                font-size 22px
                margin-bottom 8px

        &-icon
            border 1px solid $tiffany
            border-radius 50%
            color $tiffany
            cursor pointer
            font-size 24px
            height 42px
            line-height 42px
            margin-left 10px
            width 42px

            @media screen and ( min-width $screen-md )
                font-size 48px
                height 68px
                line-height 70px
                margin-left 20px
                padding-top 1px
                width 68px

            @media screen and ( min-width $screen-lg )
                margin-left 0

            &:hover
                background $tiffany
                color $white