.post-serie
    background $gray-light 
    margin 32px 0 0
    padding 40px 30px

    &--title
        color $black
        text-align center
        text-transform uppercase
        margin 0 0 30px 0

    &--list
        margin 0
        padding 0
        list-style none

    &--item
        display flex
        justify-content space-between
        
        &__current
            font-weight bold

        &-date
            color $tiffany
            margin-right 60px
            width 80px

        &-title
            color $gray-dark 
            text-decoration none
            width calc( 100% - 140px )
