.post-list
    $column-gutter = 50px
    display none
    margin 0 auto

    @media screen and ( min-width $screen-md )
        margin 0 auto

    &--wrapper
        position relative

        @media screen and ( min-width $screen-md )
            margin-left '-%s' %  ( $column-gutter / 2 )
            width 'calc( 100% + %s )' % ( $column-gutter )

    &--loading
        margin-bottom $column-gutter
        text-align center

        &.animated
            position absolute
            width 100%

    article
        margin-bottom 70px
        max-width 414px

        &:hover
            transform scale( 1.1 )

        @media screen and ( min-width $screen-md )
            padding 0 ( $column-gutter / 2 )
            width 50%

        @media screen and ( min-width $screen-lg )
            width 33.33%

        // In medium screen show 4 post, in another just 3
        /.home &
            &:last-child
                display none

                @media screen and ( min-width $screen-md )
                    display block

                @media screen and ( min-width $screen-lg )
                    display none
