.post
    // margin-top 70px

    &--header
        @media screen and ( min-width $screen-lg )
            padding-left 108px

    &--content
        color $black
        font-size 18px
        width 100%

        @media screen and ( min-width $screen-lg )
            margin 0 auto 40px
            width calc( 100% - 108px )

        h2
            font-size 30px

    &--title
        font-size 32px
        line-height 1.2
        text-transform uppercase
        margin 0
        width 100%

        @media screen and ( min-width $screen-md )
            width 75%

        a
            color $black
            text-decoration none

    &--main
        display flex
        flex-direction column

        @media screen and ( min-width $screen-lg )
            flex-direction row

.single-post
    .listing-post__serie,
    .listing-post__categories a
        font-size 14px