.posts-nav-link
    display flex
    justify-content space-between
    margin-top 32px
    position relative

    &--next,
    &--previous
        display none
        flex-direction column
        font-weight bold
        text-decoration none
        width 100%

        @media screen and ( min-width $screen-md )
            align-items flex-start
            display flex
            flex-direction row
            max-width 45%

    &--img
        margin-right 20px
        width 92px

    &--title
        color $black
        margin 0 0 8px
        text-transform uppercase

    &--next
        justify-content flex-end

        & ^[0]--img
            margin 0 0 0 22px

    &--cursor
        color $gray
        margin 0

    .link-next,
    .link-previous
        align-items center
        color $gray
        display flex
        font-size 14px
        font-weight 400
        position relative
        text-decoration none

        i
            font-size 28px

        @media screen and ( min-width $screen-md )
            font-size 0
            position absolute
            top 50%
            transform translateY( -50% )
            z-index 10

            i
                font-size 24px

    .link-next
        @media screen and ( min-width $screen-md )
            right -22px

        @media screen and ( min-width $screen-lg )
            right -44px

    .link-previous
        @media screen and ( min-width $screen-md )
            left -22px

        @media screen and ( min-width $screen-lg )
            left -44px
