.posts-nav-link
    display flex
    justify-content space-between
    margin-top 32px
    position relative
    
    &--next,
    &--previous
        display none
        flex-direction column
        font-weight bold
        text-decoration none
        width 100%
        
        @media screen and ( min-width $screen-md )
            align-items flex-start
            display flex
            flex-direction row
            max-width 45%
    
    &--img
        margin-right 20px
        width 92px
        
    &--title
        color $black
        margin 0 0 8px
        text-transform uppercase
        
    &--next
        text-align right
        & ^[0]--img
            margin 0 0 0 22px

    &--cursor
        color $gray
        margin 0

    .link-next,
    .link-previous
        align-items center
        color $gray
        display flex
        font-size 28px
        font-weight 400
        position relative
        text-decoration none

        @media screen and ( min-width $screen-md )
            font-size 0
            position absolute
            top 50%
            transform translateX( -50% )
            z-index 10

            i
                font-size 24px

    .link-next
        @media screen and ( min-width $screen-md )
            right -32px

        @media screen and ( min-width $screen-lg )
            right -54px

    .link-previous
        @media screen and ( min-width $screen-md )
            left -10px

        @media screen and ( min-width $screen-lg )
            left -32px
