.post
    // margin-top 70px

    &--header
        @media screen and ( min-width $screen-lg )
            padding-left 108px

    &--content
        color $black
        font-size 18px
        width 100%

        @media screen and ( min-width $screen-lg )
            margin 0 auto 40px
            width calc( 100% - 108px )

        h2
            font-size 30px

        blockquote
            color $gray
            font-size 16px
            line-height 32px
            margin 25px 0
            min-height 60px
            padding 0 60px
            position relative

            &::after,
            &::before
                color $tiffany
                font-size 100px
                font-weight bold
                line-height 1
                position absolute

            &::after
                bottom -70px
                content '”'
                right 0

            &::before
                content '“'
                left 0
                top -20px

    &--title
        font-size 32px
        line-height 1.2
        text-transform uppercase
        margin 0
        width 100%

        @media screen and ( min-width $screen-md )
            width 75%

        a
            color $black-light
            letter-spacing 4px
            text-decoration none

    &--main
        display flex
        flex-direction column

        @media screen and ( min-width $screen-lg )
            flex-direction row

.single-post
    .listing-post__serie,
    .listing-post__categories a
        font-size 14px