.posts-nav-link
    display flex
    justify-content space-between
    position relative
    margin-top 32px
    
    &--next,
    &--previous
        display none
        flex-direction column
        font-weight bold
        text-decoration none
        width 100%
        
        @media screen and ( min-width $screen-md )
            display flex        
            flex-direction row
            max-width 40%
    
    &--img
        margin-right 20px
        
    &--title
        color $black
        margin 0 0 8px
        text-transform uppercase
        
    &--next
        text-align right
        & ^[0]--img
            margin 0 0 0 22px

    &--cursor
        color $gray
        margin 0

    .link-next,
    .link-previous
        align-items center
        color $gray
        display flex
        font-size 28px
        font-weight 400
        text-decoration none

        @media screen and ( min-width $screen-md )
            display none
