.posts-nav
    padding-bottom 100px
    text-align center

    .button
        padding-left 46px
        padding-right 46px

        &:first-child
            display inline-block
            margin 0 10px 20px

            @media screen and ( min-width $screen-md )
                margin-bottom 0

    /.single-post &
        padding-bottom 0

    /.comment-navigation &
        padding-bottom 20px
