.post
    &--content
        color $black
        font-size 20px
        margin 0 auto 40px
        max-width 100%

        h2
            font-size 30px

        blockquote
            color $gray
            font-size 22px
            font-weight bold
            line-height 32px
            margin 25px 0
            min-height 60px
            padding 0 60px
            position relative

            &::after,
            &::before
                color $tiffany
                font-size 100px
                font-weight bold
                line-height 1
                position absolute

            &::after
                bottom -70px
                content '”'
                right 0

            &::before
                content '“'
                left 0
                top -20px

    &--title
        font-size 42px
        line-height 50px
        text-transform uppercase
        margin 0
        width 100%

        @media screen and ( min-width $screen-md )
            width 75%

        a
            color $black
            text-decoration none

    &--image
        height 440px
        margin 35px 0 30px
        position static

    &--main
        display flex
        flex-direction column

        @media screen and ( min-width $screen-lg )
            flex-direction row

.single-post
    .listing-post__serie,
    .listing-post__categories a
        font-size 14px