.post
    &--meta
        color $brownish-grey
        font-size 20px
        font-weight 100
        margin 12px 0 40px

        @media screen and ( min-width $screen-md )
            font-size 20px
            margin-top 22px

        > *
            display block
            margin-bottom 12px

            @media screen and ( min-width $screen-md )
                display inline-block

        &-author
            color $pinkish-grey
            font-weight bold
            text-decoration none

            @media screen and ( min-width $screen-md )
                margin-bottom 0

        &-date
            @media screen and ( min-width $screen-md )
                margin 0 60px

        &-reading
            line-height 1

    &--icon__time
        color $pinkish-grey
        float left
        font-size 24px
        icon( i-time )
        margin-right 10px