.posts-nav
    margin-bottom 100px
    text-align center

    a
        $height = 56px
        background $red
        border-radius $height
        color $white
        display inline-block
        font-weight bold
        line-height $height
        margin 0 10px
        padding 0 50px
        text-decoration none
        text-transform uppercase
