.purpose
    display flex
    margin-bottom 25px

    @media screen and ( min-width $screen-md )
        width 80%

    &--title
        color $black
        font-size 16px
        font-weight bold
        margin-bottom 10px

    &--content
        color $gray

    &--icon
        font-size 40px
        margin-right 20px

        i::before
            color $black

        @media screen and ( min-width $screen-md )
            margin-right 35px