/* Text meant only for screen readers. Extracted from Underscores theme */
.screen-reader-text
  border none
  clip rect( 1px, 1px, 1px, 1px )
  clip-path inset( 50% )
  display block
  height 1px
  margin -1px
  overflow hidden
  padding 0
  position absolute !important // @stylint ignore
  width 1px
  word-wrap normal !important // @stylint ignore Many screen reader and browser combinations announce broken words as they would appear visually.

  &:focus
    $bg = #f1f1f1
    $color = #f1f21759b1f1
    background-color $bg
    border-radius 3px
    box-shadow 0 0 2px 2px rgba( 0, 0, 0, .6 )
    clip auto !important // @stylint ignore
    clip-path none
    color $color
    display block
    font-size 14px
    font-weight bold
    height auto
    left 5px
    line-height normal
    padding 15px 23px 14px
    text-decoration none
    top 5px
    width auto
    z-index 100000 // Above WP toolbar
