.site-footer
    background-color $dark-grey
    color $white
    height $footer-height
    padding 65px 0 30px
    position relative
    visibility visible
    text-align center
    z-index 100

    a
        text-decoration none

.scroll-up
    align-items center
    border 1px solid $white
    cursor pointer
    display flex
    height 45px
    justify-content center
    margin 0 auto 70px
    transition all $transition-default
    width 45px

    &:hover
        background $white
        color $black

    &--icon
        font-size 20px
        transform rotate( -90deg )
