.site-footer
    background-color $dark-grey
    color $white
    height $footer-height
    padding 65px 0 30px
    position relative
    visibility visible
    text-align center
    z-index 100
    
    a
        text-decoration none
        
.scroll-up
    align-items center
    border 1px solid $white
    display flex
    height 45px
    justify-content center
    margin 0 auto 70px
    width 45px

    &--icon
        transform rotate( -90deg )
