.site-content
    background-color $white
    image-bg()
    position relative
    visibility visible
    z-index 98

    /.no-hero &
        padding-top 'calc( 80px + %s )' % $sm-nav-height

        @media screen and ( min-width $nav-breakpoint )
            padding-top 'calc( 80px + %s )' % $sm-nav-height-breakpoint

    /.has-breadcrumb &
        padding-top 0

    /.single &,
    /.page-template-default &
        width 100vw

    /.footer-fixed .site &
        background-attachment unset
