.site-content
    background-color $white
    image-bg()
    position relative
    visibility visible
    z-index 100

    /.no-hero &
        padding-top $sm-nav-height

        @media screen and ( min-width $nav-breakpoint )
            padding-top $sm-nav-height-breakpoint

        /.sticky&
            padding-top $sm-nav-height-sticky

    /.has-breadcrumb &
        padding-top 0

    /.single &,
    /.page-template-default &
        width 100vw

    /.footer-fixed .site &
        background-attachment unset
