.top-header-wrapper
    &__sticky
        background rgba( $header-overlay, .9 )
        height $sm-nav-height-sticky

        .top-header--collapse
            top $sm-nav-height-sticky
            
            @media screen and ( min-width $nav-breakpoint )
                top 0
