body
    &.sticky
        padding-top $sm-nav-height-sticky

        .site-header
            margin-top '-%s' % $sm-nav-height-sticky

.top-header-wrapper
    &__sticky
        background rgba( $header-overlay, .9 )
        height $sm-nav-height-sticky

        .site-branding
            top 10px
            width 110px

            @media screen and ( min-width $nav-breakpoint )
                margin-top 10px

        .search-toggle
            top 18px

        .menu-toggle
            top 7px

        .search-form
        .main-navigation div
            top $sm-nav-height-sticky

        .header-right
            @media screen and ( min-width $nav-breakpoint )
                padding-top 18px
