.front-page--testimonial
    background #f1f1f1
    padding 0 20px

    .swiper-container
        width 100%

        .testimonial-title
            color #1a1a1a
            font-size 30px
            font-weight bold
            text-align center
            text-transform uppercase

            @media screen and ( min-width $screen-sm )
              font-size 42px
              line-height 1.58
              text-align center

            @media screen and ( min-width $screen-lg )
                font-size 50px
                font-weight bold
                line-height 1.22

    .swiper-wrapper
        height unset

    .swiper-slide
        margin-top 50px
        opacity 0.4

        @media screen and ( min-width $screen-sm )
            margin-top 100px

    .slider-content
        color gray
        margin-bottom 50px;

        p
            color #666666
            font-size 17px
            font-weight 300
            letter-spacing 1px
            line-height 1.71
            margin unset
            padding-left 70px
            padding-right 25px
            padding-top 94px
            padding-bottom 30px
            text-align left

            @media screen and ( min-width $screen-sm )
                color #666666
                font-size 22px
                letter-spacing 1.7px
                line-height 1.68
                padding-left 125px
                text-align left
                padding-top 156px

            @media screen and ( min-width $screen-lg )
                font-size 16px
                line-height 2.06
                letter-spacing 1.3px
                padding-top 96px
                padding-left 104px
                text-align left
                

        .testimonial-author
            color #333333
            font-size 18px
            font-weight bold
            letter-spacing 1.8px
            line-height 1.39
            padding-left 49px
            padding-top 30px
            padding-bottom 2px
            text-align left
            text-transform uppercase

            @media screen and ( min-width $screen-sm )
                font-size 30px
                line-height 1.37
                letter-spacing 3px
                padding-left 80 px

            @media screen and ( min-width $screen-lg )
                font-size 14px
                line-height 1.57
                letter-spacing 1.4px
                text-align left

        .testimonial-author-position
            color #666666
            font-size 16px
            font-weight 300
            letter-spacing 1.6px
            line-height 1.56
            padding-left 49px
            padding-top 10px
            padding-bottom 20px
            text-align left

            @media screen and ( min-width $screen-sm )
                font-size 26px
                line-height 1.58
                letter-spacing 2.6px
                padding-left 80px

            @media screen and ( min-width $screen-lg )
                font-size 13px
                line-height 1.69
                letter-spacing 1.3px
                text-align left
                margin-bottom 50px


        .company-logo
            padding-left 49px
            padding-top 20px
            width 100px
            margin-bottom 55px

            @media screen and ( min-width $screen-sm )
                padding-left 80 px
                width 150px
            
            @media screen and ( min-width $screen-lg )
                // margin-right 50px
                // float right

    .quote
        color #62d3c2
        font-size 30px
        left 24px
        line-height .68
        position absolute
        text-align center
        top 100px

        @media screen and ( min-width $screen-sm )
            font-size 52px
            line-height .67
            text-align center
            left 47px
            top 168px

        @media screen and ( min-width $screen-lg )
            font-size 30px
            left 56px
            line-height .68
            top 102px


    .swiper-slide-active .slider-content
        background white
        color black

    .swiper-slide-active
        opacity 1

    .testimonial-foto
        background red
        border-radius 50%
        height 106px
        left calc( 50%- 53px )
        position absolute
        top -53px
        width 106px

        @media screen and ( min-width $screen-sm )
            height 172px
            left calc( 50%- 70px )
            top -90px
            width 172px

        @media screen and ( min-width $screen-lg )
            top -53px
            left calc( 50%- 53px )
            height 106px
            width 106px

    .testimonial-divisor
        border none
        border-top 1px solid #e0e0e0
        height 1px
        width 80%

        @media screen and ( min-width $screen-sm )
            margin-top 34px

    .info-author
        @media screen and ( min-width $screen-lg )
            float left
            display inline-block
            width 68%
    .footer
        width 100%

    .swiper-pagination-bullet
        border solid 1px #f0514b !important
        background transparent
        height 13px
        width 13px
        opacity inherit

    .swiper-pagination-bullet-active
        background #f0514b
