.testimonial
    margin 0 auto
    text-align center
    width 70%

    @media screen and ( min-width $screen-md )
       width 60%

    @media screen and ( min-width $screen-lg )
       width 40%

    &--image
        img
            background $white
            border 1px solid $dusky-blue
            border-radius 50%
            display inline-block
            height 60px
            padding 5px
            width 60px

        @media screen and ( min-width $screen-md )
            margin-top 15px

            img
                height 130px
                width 130px

    &--content
        color $brownish-grey
        margin 0 auto

        @media screen and ( min-width $screen-md )
            font-size 20px

    &--footer
        align-items center
        display flex
        flex-direction column
        justify-content center
        margin-top 20px

        @media screen and ( min-width $screen-md )
            flex-direction row

    &--company
        @media screen and ( min-width $screen-md )
            margin-right 30px
            text-align right
            width calc( 50% - 30px )

    &--author
        p
            margin 0

            &:first-child
                color $brownish-grey
                font-size 12px
                font-weight 100
            &:last-child
                font-weight bold
                text-transform uppercase

        @media screen and ( min-width $screen-md )
            text-align left
            margin-left 30px
            width calc( 50% - 30px )