// All style of elements that is above the fold
@import 'nib'
@import 'variables'
@import 'mixins/*'
@import '../font-icon/variables'

normalize-css()

// General CSS
*
*:before
*:after
    box-sizing border-box
    // transition all .2s linear

body
    color $gray-dark
    font-family $sans-serif
    font-size $font-size-base
    font-weight 300
    overflow-x hidden

img
    height auto
    max-width 100%

button
    background none
    border none

// Helper classes

// Container to center the element in the page on large screens. In minor
// screens the element is full width.
.container
    margin-left auto
    margin-right auto
    max-width 100%
    padding-left $container-padding
    padding-right $container-padding
    width 100vw

    &.full
        padding 0

    @media screen and ( min-width ( $screen-lg + ( $container-padding * 2 ) ) )
        padding-left 0
        padding-right 0
        width $screen-lg

// Hide screen reader element until load the CSS file
.screen-reader-text
    display none

// WOWJS integration
.wow
    visibility hidden

// Header wrapper
.top-header-wrapper
    fixed top left
    height $sm-nav-height
    width 100%
    z-index 99
    transition $transition-default

    &__no-hero
        background $header-bg

    @media screen and ( min-width $nav-breakpoint )
        height $sm-nav-height-breakpoint

.top-header
    align-items center
    display flex
    justify-content space-between
    height 100%
    position relative
    z-index 9999

    &--collapse
        background $header-bg
        display none
        left 0
        padding 30px 20px 60px
        position absolute
        top $sm-nav-height
        width 100%

        &.toggled
            display block

        @media screen and ( min-width $nav-breakpoint )
            align-items center
            background transparent
            display flex
            top 0
            padding 0
            position static
            width calc( 100% - 125px )

            &.toggled
                display flex

    &__searchable
        .main-navigation,
        .langs-navigation
            display none

        .site-search
            width calc( 70% - 125px )
            top 50%
            right 20px
            transform translateY( -50% )

// Logo
.site-branding
    display block
    width 125px
    transition width $transition-default

    @media screen and ( min-width $nav-breakpoint )
        width 150px

// Nav
.main-navigation
    .menu
        list-style none
        margin 0
        padding 0

    .menu-item
        &.current-menu-item a
            border-bottom 1px solid $tiffany

        a
            border-bottom 1px solid $white
            display block
            color $white
            font-size 12px
            padding 15px 0
            text-decoration none
            text-transform uppercase

    @media screen and ( min-width $nav-breakpoint )
        margin-left auto

        .menu
            font-weight bold

        .menu-item
            display inline-block

            a
                border none
                margin 0 15px
                padding 3px 0 0

.menu-toggle
    padding 6px

    &:focus
        outline none

    .icon-bar
        border-radius 1px
        display block
        height 2px
        width 22px
        background $white
        transition transform $transition-default

        & + .icon-bar
            margin-top 4px

    &[aria-expanded="true"]
        .icon-bar:nth-child(1)
            transform rotate( 45deg )
        .icon-bar:nth-child(2)
            transform rotate( -45deg )
            margin-top -2px
        .icon-bar:nth-child(3)
            display none

    @media screen and ( min-width $nav-breakpoint )
        display none

// Langs
.langs-navigation
    list-style none
    margin 0
    padding 0

    .menu-item
        display inline-block
        font-size 12px
        margin-right 50px
        border-bottom 1px solid transparent

        &.current-menu-item a
            color $tiffany

        &:last-child
            display none

    .menu-link
        display block
        color $white
        padding 8px
        text-decoration none
        text-transform uppercase

    @media screen and ( min-width $nav-breakpoint )
        font-weight bold
        margin-left auto

        .menu-link
            padding 8px 0

        .menu-item
           margin 0 0 0 30px

           &.current-menu-item a
            color $white
            padding-bottom 3px
            border-bottom 1px solid $tiffany

           &:last-child
            display inline-block

// Search
.search-form
    align-items center
    display flex
    border-bottom 1px solid $white
    color $white
    margin-bottom 10px

    .search-submit
        text-align center
        width 30px

    input[type="search"]
        background transparent
        border none
        height 48px
        line-height 48px
        padding 0
        width 100%

        &::placeholder
            text-transform uppercase

        &:focus
            outline none

    @media screen and ( min-width $nav-breakpoint )
        border-bottom none
        margin-bottom 0

        input[type="search"]
            border-bottom 1px solid $white
            line-height 28px
            margin 0 8px
            height 28px

.search-close
    display none
    cursor pointer
    height 25px
    position relative
    width 25px

    &:after,
    &:before
        background $white
        content ""
        display block
        height 1px
        right 4px
        position absolute
        top 12px
        width 14px

    &:after
        transform rotate( -45deg )

    &:before
        transform rotate( 45deg )

    @media screen and ( min-width $nav-breakpoint )
        display block

.site-search
    transition right .2s linear

    @media screen and ( min-width $nav-breakpoint )
        position absolute
        top -100%
        right 0


// Header
.site-header
    background-position center
    background-repeat no-repeat
    background-size cover
    height 100%
    position fixed
    width 100%
    z-index 10

    &--wrapper
        background-color $header-bg
        height 100vh
        left 0
        min-height 500px
        position relative
        right 0
        top 0
        width 100vw

        /.no-hero &
            height $sm-nav-height
            min-height auto
            position fixed
            z-index 20

            @media screen and ( min-width $nav-breakpoint )
                height $sm-nav-height-breakpoint

            /.sticky&
                height $sm-nav-height-sticky

    &__no-hero
        height auto

// Hero
.hero
    &--container
        display none

// Breadcrumb
.breadcrumb
    color $gray-light-300
    font-size 12px
    list-style none
    margin 0
    padding 15px 0

    @media screen and ( min-width $screen-md )
        font-size 14px
        padding 15px 0

    @media screen and ( min-width $screen-lg )
        padding 25px 0

    &--wrapper
        position relative
        margin-top 100px
        transition margin-top $transition-default
        z-index 10

        /.sticky &
            margin-top 115px

        @media screen and ( min-width $screen-md )
            margin-top 107px

    &--item
        display inline

        &:after
            content '>'
            display inline-block
            margin 0 10px

        &:last-child:after
            display none

    &--link
        color #b3b3b3
        text-decoration none

.site-content,
.site-footer
    visibility hidden
