// Deacrease the site content container max-width for single pages
body
    &.footer-fixed
        padding-bottom $footer-height

        .site-footer
            fixed bottom left
            width 100%

.single
    .site-content
        margin-bottom 55px
        margin-top 70px
        max-width 950px
