@import 'nib'
@import 'mixins/*'
@import 'variables'

@import '../font-icon'

.single .hentry
    &:after
        clear both
        content ''
        display block

    @import 'content/*'

@import 'structure'
@import 'widgets/*'
@import 'pages/*'

// body
//     background $gray-dark
//     background url( '../images/mockups/d_030_blog.jpg' ) center top no-repeat
//     background url( '../images/mockups/m_030_search.jpg' ) center top no-repeat

// .site-header
//     height 803px

// .site-footer
//     background url( '../images/mockups/footer/desktop.png' ) center top no-repeat
