@import 'nib'
@import 'mixins/*'
@import 'variables'

@import '../font-icon'

.hentry
    &:after
        clear both
        content ''
        display block

    @import 'content/*'

@import 'widgets/*'

body
    // background $gray-dark
    background url( '../images/mockups/d_030_blog.jpg' ) center top no-repeat
    // background url( '../images/mockups/m_030_search.jpg' ) center top no-repeat

main
    margin-top 1000px
