// *** BREAKPOINTS ***
$screen-sm = 480px
$screen-md = 768px
$screen-lg = 1190px

$nav-breakpoint = $screen-md
$footer-breakpoint = $screen-md
$footer-height = 172px

// *** COLORS ***

// Before redesign colors - This variables must be removed at the end of the project
$main-color = #000
$white = #fff

$java = #21d8c4
$red = #4e639e
$black = #000
$tiffany = #6fa8a5
$purple = #363e56
$navy = #525c9e
$downy = #62d5c3
$morning-glory = #92E1D5
$cruise = #b3eae2
$seal = #1a1a1a

$gray-dark = #333
$gray = #666
$gray-light-100 = #ececec
$gray-light-200 = #a3a0a0
$gray-light-300 = #b3b3b3

$header-bg = #1e1f22
$header-overlay = $header-bg

$quote-bg = #62d2c2
$quote-quotes = #92ddce

// content
$content-link = #00f
$content-link-active = $content-link
$content-link-hover = darken( $content-link, 30% )

$caption-background = $red

// Redesign colors
$white = #ffffff
$black = #000000
$white-two = #ececec
$pinkish-grey = #cccccc // Also used for #b3b3b3, #6fa8a5
$cool-grey = #a5a5a6
$brownish-grey = #666666
$black-two = #333333 // Also used for #313235, #38383a
$dark-grey = #1e1f22 // Also used for #282828
$faded-blue = #7789ba
$dusky-blue = #4e639e // Also used for #565ca6

// *** FONTS ***
$sans-serif = 'Open Sans', sans-serif
$serif = 'Open Sans', sans-serif
$monospace = Consolas, monaco, monospace

$body-font = $sans-serif
$heading-font = $serif

$font-size-base = 14px

$font-size-h1 = floor( $font-size-base * 2.6 )
$font-size-h2 = floor( $font-size-base * 2.15 )
$font-size-h3 = ceil( $font-size-base * 1.7 )
$font-size-h4 = ceil( $font-size-base * 1.25 )
$font-size-h5 = $font-size-base
$font-size-h6 = ceil( $font-size-base * .85 )


// *** PROJECT VARIABLES ***
$sm-nav-height = 100px
$sm-nav-height-breakpoint = 107px
$sm-nav-height-sticky = 62px
$container-padding = 20px
$transition-default = .2s ease-out
