// Mantain element aspect for diferent widths
aspect-ratio( $width, $height )
    position relative

    &:before
        content ''
        display block
        padding-top ( $height / $width ) * 100%
        width 100%

    > *
        bottom 0
        height 100%
        left 0
        max-height 100%
        max-width 100%
        position absolute
        right 0
        top 0
        width 100%
