icon( $icon )
    &:before
        content $icon
        display block
        icon-font()

icon-font()
    font-family 'icomoon' !important // @stylint ignore
    font-style normal
    font-variant normal
    font-weight normal
    line-height 1
    speak none
    text-transform none
