// A mixin for stylus to style placeholder content on input html elements
// https://github.com/Lukavyi/stylus-input-placeholder-mixin
placeholder()
    &::-webkit-input-placeholder
        {block}
    &:-moz-placeholder
        {block}
    &::-moz-placeholder
        {block}
    &:-ms-input-placeholder
        {block}
