blockquote
    font-weight bold
    icon( i-left-quote )
    margin 40px 0 40px 60px
    position relative

    &:before
        color $tiffany
        font-size 28px
        position absolute
        left -50px
        top -3px

    @media screen and ( min-width $screen-md )
        margin-left 100px
        margin-right 100px
