blockquote
    font-weight bold
    icon( i-left-quote )
    margin 40px 0 40px 60px
    position relative

    &:before
        color $pinkish-grey
        font-size 28px
        left -50px
        position absolute
        top -3px

    @media screen and ( min-width $screen-md )
        margin-left 100px
        margin-right 100px
