.alignleft
    float left
    margin 0 1em 1em 0

.alignright
    float right
    margin 0 0 1em 1em

.wp-caption
    background $tiffany
    color $white
    margin 0
    text-align center

    img
        display block

    .wp-caption-text
        padding 10px

    &.aligncenter
        clear both
        margin 0 auto

    &.alignnone
        clear both
