.alignleft
    float left
    margin 0 1em 1em 0

.alignright
    float right
    margin 0 0 1em 1em

.aligncenter
    clear both
    display block
    margin 0 auto

.wp-caption
    background $pinkish-grey
    color $white
    // margin 0
    max-width 100%
    text-align center

    img
        display block

    .wp-caption-text
        padding 10px

    &.aligncenter
        margin 0 auto

    &.alignnone
        clear both
        margin 0