a
    color $red
    text-decoration none

    &:active
        text-decoration underline

    &:hover
        text-decoration underline

code,
kbd,
samp,
tt
    font-family $monospace

pre
	white-space pre-wrap
