a
    color $red
    text-decoration none

    &:active
        text-decoration underline

    &:hover
        text-decoration underline

    &:visited
        color darken( $red, 30% )

code,
kbd,
samp,
tt
    font-family $monospace
