@import "variables"

@font-face
  font-family 'icomoon'
  src url(icomoon-font-path + '/icomoon.ttf?6j8ub0') format('truetype'), url(icomoon-font-path + '/icomoon.woff?6j8ub0') format('woff'), url(icomoon-font-path + '/icomoon.svg?6j8ub0#icomoon') format('svg')
  font-weight normal
  font-style normal

[class^="i-"], [class*=" i-"]
  font-family 'icomoon' !important
  speak none
  font-style normal
  font-weight normal
  font-variant normal
  text-transform none
  line-height 1

  /* Better Font Rendering =========== */
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale

.i-menu
  &:before
    content i-menu
.i-mouse
  &:before
    content i-mouse
.i-rss
  &:before
    content i-rss
.i-mail
  &:before
    content i-mail
.i-linkedin
  &:before
    content i-linkedin
.i-facebook
  &:before
    content i-facebook
.i-twitter
  &:before
    content i-twitter
.i-github
  &:before
    content i-github
.i-comments
  &:before
    content i-comments
.i-time
  &:before
    content i-time
.i-search
  &:before
    content i-search
.i-check
  &:before
    content i-check

