@import "variables"

@font-face
  font-family 'icomoon'
  src url(icomoon-font-path + '/icomoon.ttf?imutd3') format('truetype'), url(icomoon-font-path + '/icomoon.woff?imutd3') format('woff'), url(icomoon-font-path + '/icomoon.svg?imutd3#icomoon') format('svg')
  font-weight normal
  font-style normal

[class^="i-"], [class*=" i-"]
  font-family 'icomoon' !important
  speak none
  font-style normal
  font-weight normal
  font-variant normal
  text-transform none
  line-height 1

  /* Better Font Rendering =========== */
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale

.i-quote
  &:before
    content i-quote
.i-mail-filled
  &:before
    content i-mail-filled
.i-phone
  &:before
    content i-phone
.i-flow
  &:before
    content i-flow  
    color #e55650
.i-suitcase
  &:before
    content i-suitcase  
    color #e55650
.i-mouse
  &:before
    content i-mouse
.i-rss
  &:before
    content i-rss
.i-mail
  &:before
    content i-mail
.i-linkedin
  &:before
    content i-linkedin
.i-facebook
  &:before
    content i-facebook
.i-twitter
  &:before
    content i-twitter
.i-github
  &:before
    content i-github
.i-comments
  &:before
    content i-comments  
    color #7bc5bf
.i-time
  &:before
    content i-time  
    color #7bc5bf
.i-search
  &:before
    content i-search
.i-check
  &:before
    content i-check  
    color #71c1b9
.i-right-quote
  &:before
    content i-right-quote
.i-left-quote
  &:before
    content i-left-quote
.i-arrow-right
  &:before
    content i-arrow-right
.i-arrow-left
  &:before
    content i-arrow-left
.i-menu
  &:before
    content i-menu

