icomoon-font-path ?= "fonts"

i-quote = "\e914"
i-mail-filled = "\e90f"
i-phone = "\e90c"
i-flow = "\e90d"
i-suitcase = "\e90e"
i-mouse = "\e900"
i-rss = "\e901"
i-mail = "\e902"
i-linkedin = "\e903"
i-facebook = "\e904"
i-twitter = "\e905"
i-github = "\e906"
i-comments = "\e907"
i-time = "\e908"
i-search = "\e909"
i-check = "\e90a"
i-right-quote = "\e911"
i-left-quote = "\e910"
i-arrow-right = "\e912"
i-arrow-left = "\e913"
i-menu = "\e90b"

