icomoon-font-path ?= "fonts"

i-left-quote = "\e90c"
i-menu = "\e90b"
i-flow = "\e90d"
i-suitcase = "\e90e"
i-mouse = "\e900"
i-rss = "\e901"
i-mail = "\e902"
i-linkedin = "\e903"
i-facebook = "\e904"
i-twitter = "\e905"
i-github = "\e906"
i-comments = "\e907"
i-time = "\e908"
i-search = "\e909"
i-check = "\e90a"

